
{% extends "layout.html.twig" %}
{% block contenu %}
    <hr>
    <div class="modal-content col-lg-6 col-lg-offset-3">
        <div class="modal-header" style="padding:35px 50px;">
            <h4><span class="glyphicon glyphicon-lock"></span> Se connecter</h4>
        </div>

        <div class="modal-body" style="padding:40px 50px;">
            <form method="post" action="{{ path('user.validFormlogin') }}">
                <div class="form-group">
                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Identifiant</label>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Enter votre identifiant">
                </div>
                <div class="form-group">
                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter votre mot de passe">
                </div>

                {% if app.session.get('erreur') is not empty %}
                    <div class="alert alert-danger">
                        <strong>Erreur</strong> Le mot de passe ou l'identifiant est faux.
                    </div>
                {% endif %}

                <hr>

                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-success btn-block" value="Se Connecter"><span class="glyphicon glyphicon-off"></span> Login</button>
                </div>

                <hr>

            </form>
        </div>
    </div>


{% endblock %}

