body{
    padding-top: 50px;
}

th{
    background-color: grey ;
    color: white;
    font-size: 18px;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.row{
    background-color: white;
}

.corp{
    -moz-box-shadow: 10px 10px 10px 10px #656565;
    -webkit-box-shadow: 10px 10px 10px 10px #656565;
    -o-box-shadow: 10px 10px 10px 10px #656565;
    box-shadow: 10px 10px 10px 10px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
}

.produit{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

.produit:hover{
    background-color: darkred;
    color: whitesmoke;
}

.imageProduit{
    width: 480px;
    height: 400px;
    max-width: 75%;
    max-height: 75%;
}